<div class="nav flex-column nav-pills">
    <a data-toggle='pill' class="nav-link active">Todos</a>
    <a data-toggle='pill' class="nav-link">Agotados</a>
    <a data-toggle='pill' class="nav-link">Disponibles</a>
    <a data-toggle='collapse' class="nav-link" data-target="#filtrarColl">Filtrar</a>
    <div class="collapse justify-content-center nav-pills nav" id="filtrarColl">
        <button data-toggle='pill' class="btn btn-outline-danger mr-1">Mujer</button>
        <button data-toggle='pill' class="btn btn-outline-danger mr-1">Hombre</button>
        <button data-toggle='pill' class="btn btn-outline-danger mr-1">Niños</button>
        <button data-toggle='pill' class="btn btn-outline-danger mr-1">Adultos</button>
    </div>
    <a data-toggle='pill' class="nav-link">Buscar</a>
    <div class="row justify-content-center mt-3">
        <button class="btn btn-danger mr-1">Nuevo producto</button>
        <button class="btn btn-danger ml-1">Administrar</button>
    </div>
</div>
