.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #bd2130 !important;
}
.btn-outline-danger{
    &.button-selected{
        background-color: transparent;
    }
}

a{
    color: white;
    &:hover{
        color: whitesmoke;
    }
}
