<div class="carrito">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Talla</th>
                <th>Cantidad</th>
                <th><span aria-hidden="true">&times;</span></th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr *ngFor="let producto of productosAgregados">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio | currency }}</td>
                <td>{{ producto.talla }}</td>
                <td><input class="form-control" type="number" [value]="producto.cantidad" min="1" (change)="cambiarCantidad(producto.id, $event)"></td>
                <td><button class="btn btn-danger"><span aria-hidden="true" (click)="eliminarDelCarrito(producto.id)">&times;</span></button></td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">Total: {{ totalPagar | currency }}</td>
            </tr>
            <tr>
                <td colspan="5"><button class="btn btn-danger btn-block">Ir al carrito</button></td>
            </tr>
        </tfoot>
    </table>
</div>
