.thead-black {
    background-color: black;

    th {
        color           : #fff;
        background-color: black;
        border-color    : black;
    }
}

td {
    vertical-align: middle !important;
}
