<section class="row row-cols-2">
    <div class="col-lg-6">
        <div class="imgInfo">
            <div class="info">
                <p>Luce los mejores calzados de las marcas más populares </p>
                <button class="btn btn-success">Zapatos</button>
            </div>
            <img src="../../../assets/img/zapatos.jpg" alt="">
        </div>
        <div class="imgInfo">
            <div class="info">
                <p>Luce los mejores calzados de las marcas más populares </p>
                <button class="btn btn-success">Zapatos</button>
            </div>
            <img src="../../../assets/img/jeans.jpg" alt="">
        </div>
    </div>

    <div class="col-lg-6">
        <div class="imgInfo">
            <img src="../../../assets/img/camisa.jpg" alt="">
            <div class="info">
                <p>Luce los mejores calzados de las marcas más populares </p>
                <button class="btn btn-success">Zapatos</button>
            </div>
        </div>
        <div class="imgInfo">
            <img src="../../../assets/img/buso.jpg" alt="">
            <div class="info">
                <p>Luce los mejores calzados de las marcas más populares </p>
                <button class="btn btn-page">Zapatos</button>
            </div>
        </div>
    </div>
</section>
